<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
<body>
    <h2>banda: <%= lista.nombre %></h2>
    <a href="http://localhost:3000/bandas/generos/<%=lista.genero%>"><h2>genero: <%= lista.genero %></h2> </a>
</body>
</html>