<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
<body>
    <h1>Listado bandas:</h1>
    <ul>
    <% for( let i = 0; i < lista.length; i++ ) { %>
    <li>→<%= lista[i].nombre %></li>
    <img src="<%= lista[i].cover %>" width="300px">
    <% } %>
    </ul>
</body>
</html>