body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: seashell;
  color: darkblue;
}

a {
  color: darkblue;
  text-decoration: none;
}
li{
  font-size: medium;
  font-weight: bold;
}

